body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 50vh;
    border: 1px solid black;
    background-color: dimgrey;
    margin: auto;
    margin-top: 20px;
}

.middlebox {
    display: flex;
    gap: 20px;

}

.card {
    border: 1px dotted;
    display: inline;
    font-size: 2em;
    margin: 3px;
    padding: 4px;
}

button {
    margin: 5px;
    height: 30px;
    width: 180px;
    cursor: pointer;
}

.playerbox, .dealerbox {
    display: flex;
    flex-direction: column;
}

.playerscard, .dealerscard, p, h2 {
    align-self: center;
}

.new {
    border-color:darkgreen;
}

.dealertotal, .playertotal {
    padding: 20px;
}
