body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 60vh;
    border: 1px solid black;
}

.middlebox {
    display: flex;
    gap: 20px;

}

.card {
    border: 1px dotted;
    display: inline;
}
