/* General Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Znamenny Musical Notation", sans-serif;
}

body {
    background-color:dimgrey;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50vh;
}

/* Button Styling */

.pills {
    display: flex;
    justify-content: space-evenly;
    
}

.pill {
    background-color: maroon;
    border-style: none;
    color: white;
}

.btn {
    background-color: maroon;
    padding: 2%;
    border-radius: 80%;
}

.hidden {
    display: none !important;
}

/* Limited mobile stuff */

@media (max-width: 1200px) {
    .featurebox {
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
    }
}



.logo {
    display: flex;
}

/* Element Styling */

img {
    border-radius: 8%;
}

h1 {
    color: maroon;
    font-size: 2em;
}

.featurebox {
    border: 2px;
    border-style: dotted;
    border-style: dotted;
    margin-top: 10px;
    font-size: .75em;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.category {
    color: navy;
}

a {
    text-decoration: none;
}

.topbox {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

span {
    /* background-color: navy; */
}

.voting {
    margin: auto;
}

li {
    list-style-type: none;
}
